Proyecto Propietaria II/Service References/CheckList/CheckList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TandaDeEstudio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tanda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TandaDeEstudioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TandaDeEstudioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TandaDeEstudioSoapIn">
    <wsdl:part name="parameters" element="tns:TandaDeEstudio" />
  </wsdl:message>
  <wsdl:message name="TandaDeEstudioSoapOut">
    <wsdl:part name="parameters" element="tns:TandaDeEstudioResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckListSoap">
    <wsdl:operation name="TandaDeEstudio">
      <wsdl:input message="tns:TandaDeEstudioSoapIn" />
      <wsdl:output message="tns:TandaDeEstudioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckListSoap" type="tns:CheckListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TandaDeEstudio">
      <soap:operation soapAction="http://tempuri.org/TandaDeEstudio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckListSoap12" type="tns:CheckListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TandaDeEstudio">
      <soap12:operation soapAction="http://tempuri.org/TandaDeEstudio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckList">
    <wsdl:port name="CheckListSoap" binding="tns:CheckListSoap">
      <soap:address location="http://localhost:25311/CheckList.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckListSoap12" binding="tns:CheckListSoap12">
      <soap12:address location="http://localhost:25311/CheckList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>